<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE suite SYSTEM "http://testng.org/testng-1.0.dtd">

<suite name="jFiler Tests">
    <test name="touch">
        <classes>
            <class name="in.ankitpati.jfiler.tests.TestTouch" />
        </classes>
    </test>

    <test name="rm">
        <classes>
            <class name="in.ankitpati.jfiler.tests.TestRm" />
        </classes>
    </test>

    <test name="cp">
        <classes>
            <class name="in.ankitpati.jfiler.tests.TestCp" />
        </classes>
    </test>

    <test name="mv">
        <classes>
            <class name="in.ankitpati.jfiler.tests.TestMv" />
        </classes>
    </test>

    <test name="mkdir">
        <classes>
            <class name="in.ankitpati.jfiler.tests.TestMkdir" />
        </classes>
    </test>

    <test name="ls">
        <classes>
            <class name="in.ankitpati.jfiler.tests.TestLs" />
        </classes>
    </test>

    <test name="help">
        <classes>
            <class name="in.ankitpati.jfiler.tests.TestHelp" />
        </classes>
    </test>

    <test name="chmod">
        <classes>
            <class name="in.ankitpati.jfiler.tests.TestChmod" />
        </classes>
    </test>

    <test name="cat">
        <classes>
            <class name="in.ankitpati.jfiler.tests.TestCat" />
        </classes>
    </test>

    <test name="append">
        <classes>
            <class name="in.ankitpati.jfiler.tests.TestAppend" />
        </classes>
    </test>

    <test name="ll">
        <classes>
            <class name="in.ankitpati.jfiler.tests.TestLs" />
        </classes>
    </test>
</suite>
