<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE suite SYSTEM "http://testng.org/testng-1.0.dtd">

<suite name="jFiler Tests">
    <test name="touch">
        <classes>
            <class name="in.ankitpati.jfiler.tests.TestTouch">
                <methods>
                    <include name="testNullArgument" />
                    <include name="testEmptyArgument" />
                    <include name="testValidArgument" />
                    <include name="testMultipleValidArguments" />
                    <include name="testNonExistentDirectoryArgument" />
                </methods>
            </class>
        </classes>
    </test>

    <test name="rm">
        <classes>
            <class name="in.ankitpati.jfiler.tests.TestRm">
                <methods>
                    <include name="testNullArgument" />
                    <include name="testEmptyArgument" />
                    <include name="testValidArgument" />
                    <include name="testMultipleValidArguments" />
                    <include name="testDirectoryArgument" />
                </methods>
            </class>
        </classes>
    </test>

    <test name="cp">
        <classes>
            <class name="in.ankitpati.jfiler.tests.TestCp">
                <methods>
                    <include name="testNullArgument" />
                    <include name="testEmptyArgument" />
                    <include name="testValidArguments" />
                    <include name="testMultipleArguments" />
                    <include name="testDirectoryArguments" />
                </methods>
            </class>
        </classes>
    </test>

    <test name="mv">
        <classes>
            <class name="in.ankitpati.jfiler.tests.TestMv">
                <methods>
                    <include name="testNullArgument" />
                    <include name="testEmptyArgument" />
                    <include name="testValidArguments" />
                    <include name="testMultipleArguments" />
                    <include name="testDirectoryArguments" />
                </methods>
            </class>
        </classes>
    </test>

    <test name="mkdir">
        <classes>
            <class name="in.ankitpati.jfiler.tests.TestMkdir">
                <methods>
                    <include name="testNullArgument" />
                    <include name="testEmptyArgument" />
                    <include name="testValidArgument" />
                    <include name="testMultipleValidArguments" />
                    <include name="testNonExistentDirectoryArgument" />
                </methods>
            </class>
        </classes>
    </test>
</suite>
