<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE suite SYSTEM "http://testng.org/testng-1.0.dtd">

<suite name="jFiler Tests">
    <test name="touch">
        <classes>
            <class name="in.ankitpati.jfiler.tests.testng.TestTouch" />
        </classes>
    </test>

    <test name="rm">
        <classes>
            <class name="in.ankitpati.jfiler.tests.testng.TestRm" />
        </classes>
    </test>

    <test name="cp">
        <classes>
            <class name="in.ankitpati.jfiler.tests.testng.TestCp" />
        </classes>
    </test>

    <test name="mv">
        <classes>
            <class name="in.ankitpati.jfiler.tests.testng.TestMv" />
        </classes>
    </test>

    <test name="mkdir">
        <classes>
            <class name="in.ankitpati.jfiler.tests.testng.TestMkdir" />
        </classes>
    </test>

    <test name="ls">
        <classes>
            <class name="in.ankitpati.jfiler.tests.testng.TestLs" />
        </classes>
    </test>

    <test name="help">
        <classes>
            <class name="in.ankitpati.jfiler.tests.testng.TestHelp" />
        </classes>
    </test>

    <test name="chmod">
        <classes>
            <class name="in.ankitpati.jfiler.tests.testng.TestChmod" />
        </classes>
    </test>

    <test name="cat">
        <classes>
            <class name="in.ankitpati.jfiler.tests.testng.TestCat" />
        </classes>
    </test>

    <test name="append">
        <classes>
            <class name="in.ankitpati.jfiler.tests.testng.TestAppend" />
        </classes>
    </test>

    <test name="ll">
        <classes>
            <class name="in.ankitpati.jfiler.tests.testng.TestLs" />
        </classes>
    </test>
</suite>
